<div class="number_guesser_body">
  <button><%= link_to "Game Home", games_path %></button>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>can you guess the number</h1>
    <h1>1-2-3</h1>

    <%=form_tag "/answer" do%>
      <%=number_field_tag "guess" %>
      <%=submit_tag "Guess"%>
    <%end%>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
 <br>
</div>