<%= link_to "Back to Admin Page", admin_path, :class => "btn btn-outline-dark btn btn-outline-dark btn-light position-absolute" %>

<div class="center-page background-black white-text padding-top">

<h1>All Users</h1>

<% @users.each do |user| %>
  <%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %><br><br>
<% end %>

</div>