<button class="btn btn-outline-dark"><%= link_to "Back to Admin Page", admin_path %></button>

<h1>All Users</h1>

<% @users.each do |user| %>
  <%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %><br><br>
<% end %>

