<div class="center-page page-black padding-top">

<h1 class="word-color">Results</h1>
<%if @user_guess == @wordcount%>
<% current_user.increment_tokens(100) %>
<%=link_to "WIN", games_path%>
<p class="white-text">You Won 100 tokens</p>
<%else%>

<p class= "word-color"><%=@wordcount%></p>
<%=link_to "LOSS", games_path%>
<p class="white-text">You Lost 50 tokens</p>

<%end%>

</div>