<div class="center-page">


<%if @user_guess == @wordcount%>
<p class= "win medium_font"><% current_user.increment_tokens(100) %>
<%=link_to "WIN", games_path, class: "big_font" %><br>
You Won 100 tokens</p>
<%else%>

<p class= "loss-word"><%=@wordcount%></p>
<p class= "fail "><%=link_to "LOSS", games_path, class: "big_font"%>
 <p class= "white-text medium_font"> You Lost 50 tokens</p>

<%end%>
</p>
</div>