<%newarray = @details.split %>
<% @wordchoose = newarray[rand(0..newarray.length)]%>
<h1><%=@wordchoose%></h1>

<%@wordcount = []%>

<%newarray.each do |word|%>
<%if word == @wordchoose%>
<%@wordcount << word%>
<%end%>
 <%end%>
