<div class="center-page">

<h1>Results</h1>
<%if @user_guess == @wordcount%>
<% current_user.increment_tokens(100) %>
<%=link_to "WIN", games_path%>
<p>You Won 100 tokens</p>
<%else%>

<%=@wordcount%>
<%=link_to "LOSS", games_path%>
<p>You Lost 50 tokens</p>

<%end%>

</div>