<div class="center-page">


<%if @user_guess == @wordcount%>
<p class= "win"><% current_user.increment_tokens(100) %>
<%=link_to "WIN", games_path%>
<p>You Won 100 tokens</p></p>
<%else%>

<p class= "loss-word"><%=@wordcount%></p>
<%=link_to "LOSS", games_path%>
<p style="color:white;">You Lost 50 tokens</p>

<%end%>

</div>