<%= link_to "Home", home_path, :class => "btn btn-outline-dark" %>

<ul>
  <li>
    <div>
      <%= link_to "Number Guesser", guesswelcome_path %>
      <p>Created By: Get Good, Inc.</p>
    </div>
  </li>
</ul>
