<%= link_to "Back to Admin Page", admin_path, :class => "btn btn-outline-dark btn btn-outline-dark btn-light position-absolute" %>

<div class="center-page background-black white-text padding-top">

<h1>All Users</h1>

<% @companies.each do |company| %>
  <%= link_to company.name, company_path(company) %><br><br>
<% end %>

<button><%= link_to "Register New Company", new_company_path %></button><br>


</div>