/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html{
    margin: 0px;
}

.circle{
    border-radius: 50%;
}

.field_with_errors{
    display: inline;
    color: red;
}

.red-font{
    color:red;
}

.title-font{
    font-family: 'Fascinate Inline', cursive;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.margin-left{
    margin-left: 5%;
}

.more-margin-left{
    margin-left: 15%;
}

.page-black{

 background-color: black;}
.center-page{

   
    width: 100%;
    text-align: center;
}

.center-text{
    text-align: center;
}

.container {
    position: relative;
    text-align: center;
    color: black;
    margin-top: 2%;

  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 4vw;
  }

  .notice{
      text-align: center;
      color: red;
  }

  .word{
      float: center;
  }

  .word-color{
     color: yellow
  }
