/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html{
    margin: 0px;
}

 body{
     background: black;
    color: #FCE42D;
    text-align: center;
}
a{
    color: #FCE42D;
    text-decoration: none;
    height: 100%;
     width: 100%;
}

.win{ 
    animation-name: win;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    height:100vh;
    width: 100vw;
    margin-top: 0px;
    margin-bottom: 0px;
}




.fail{
    animation-name: fail;
   animation-duration: .3s;
   animation-iteration-count: infinite;
   height:100vh;
   width: 100vw;
   margin-top: 0px;
   margin-bottom: 0px;
}

@keyframes fail {
    0%   { background-color: red; }
    49% { background-color: red; }
    50% { background-color: #000; }
    99% { background-color: #000; }
    100% { background-color: red; }
}

    @keyframes win {
        0%   { background-color: black; }
        49% { background-color: black; }
        50% { background-color: blue; }
        99% { background-color: blue; }
        100% { background-color: black; }
    }