<%= link_to "Home", home_path, :class => "btn btn-outline-dark" %>

<div class="center-page">

<h1>Admin Page</h1>

<button><%= link_to "View all Users", users_path %></button>
<button><%= link_to "Site Statistics", data_path %></button>

</div>