<div class="">
<%= link_to image_tag("roulette.jpg", size: "500x500", :class =>"col-lg-8 float-left"), games_path  %>
</div>

<div class="">
<%= link_to image_tag("tokens.jpg", size: "500x500", :class =>"col-sm-4 float-right"), tokens_path  %>
</div>

