<button><%= link_to "Register", new_user_path %></button>

<button><%= link_to "View all Users", users_path %></button>
<button><%= link_to "View all Games", games_path %></button>
<button><%= link_to "Buy Tokens", tokens_path %></button>