<%= link_to "Back to Admin Page", admin_path, :class => "btn btn-outline-dark btn btn-outline-dark btn-light position-absolute" %>

<div class="center-page">

<h1>Site Statistics</h1>

<h2>Total Users: <%= User.total_users %></h2> 
<h2>Average Age: <%= User.average_age %></h2>
<h2>Total Revenue: <%= User.total_revenue %></h2>

</div>