<button><%= link_to "Home", home_path %></button>

<h1>Tokens</h1>

<div>
  <h3>Buy 20 Tokens</h3>
  <button>$5.00</button>
</div>

<div>
  <h3>Buy 50 Tokens</h3>
  <button>$10.00</button>
</div>

<div>
  <h3>Buy 100 Tokens</h3>
  <button>$20.00</button>
</div>

<div>
  <h3>Buy 150 Tokens</h3>
  <button>$50.00</button>
</div>

<br><br>

